body{
    background-color: rgb(215, 210, 210);
    max-width: 2150px;
    max-height: 5000px;
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}
.body-app{
    width: 1920px;
    height: 1880px;
    background-color: rgb(215, 210, 210);
}
@media only screen and (min-width: 1440px){
.body-app{
    width: 100%;
    height: 1080px;
    margin: auto;
    padding: 0; 
    background-color: rgb(215, 210, 210);
    }   
}
  @media only screen and (max-width: 1920px){
.body-app{
    width: 100%;
    height: 1080px;
    margin: auto;
    padding: 0;
 
    
}
}


.content {


height: 680px;
width: calc(104.2% - 100px);
z-index: 1;
position:relative;

margin-left:0px;
margin-top: -1000px;
padding: 10px;
}
.footer {
width: 100%;
height: 250px;
border-radius: 15px 15px 0px 0px;
box-shadow: 2px 2px 5px rgb(88, 81, 81);
margin-top: 680px;

background-color: rgb(221, 221, 213);
position: static;
width: calc(100% - 80px);
z-index: 0;
margin-left: 35px;
}

.sidebarjava {
    width: 100px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 0px 2px 0px  rgba(95, 92, 92, 0.535);
    color: black;
    position: relative;
   
    transition: transform 0.3s ease-in-out;
    z-index: 3;
}
.sidebarjava.hiddenjava {
    transform: translateX(-130%);
}
.sidebarjava {
    display: block;
    color:black;
    text-decoration: none;
    margin: 0;
    padding: 0;
 
}
/* <!-- sidebar សម្រាប់អោយ Content Zoom-in-out --> */
.main-contentjava {
    margin-left: 100px;
    padding: 0;
   
    transition: margin-left 0.3s ease-in-out;
}
.main-contentjava.expandedjava {
    margin-left: 20px;
}
.colorMenu{
  filter: brightness(2) saturate(120%) invert(10%) sepia(100%) saturate(5000%) hue-rotate(0deg);
}
.divcontent3{
    margin: auto;
  }
  .imagecolor{
    filter: brightness(0) saturate(100%) invert(29%) sepia(88%) saturate(726%) hue-rotate(90deg) brightness(90%) contrast(88%);
  }
  .color-text-all{
    color: rgb(177, 40, 40);
    font-size: 16pt;
  }
  a:hover{
    color: rgb(177, 40, 40);
    box-shadow: 1px 3px 5px;
    transition: 0.5s;
    
  }
  .a-dash:hover{
    color: rgb(177, 40, 40);
    box-shadow: none;
    transition: 0.5s;
    
  }
  
button{
    cursor: pointer;
  }
  