.header {
  width: 100%;
  height: 100px;
  z-index: 5;
  box-shadow: 0px 3px 5px 0px  rgb(135, 128, 128);
  background-color: rgb(255, 255, 255);
  position:relative;
}

.logo {
  width: auto;
  height: 95px;
  /* border: 1px solid black; */
  float: left;
  
  margin: 0;
  padding: 0;
  }
  .logomenu {
  width: auto;
  height: 95px;
  /* border: 1px solid black; */
  float: left;

  margin: 0;
  padding: 0;
  }
  .pos {
  width: 7%;
  height: 95px;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  float: right;
  
  
  }
  .dashboard{
    width: 9%;
    height: 95px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    float: right;
  }
  .size-pos {
  width: auto;
  padding: 10px;
  border: 1px solid rgb(255, 52, 52);
  border-radius: 27px;
  font-size: 20pt;
  text-align: center;
  background-color: rgb(219, 212, 212);
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(177, 40, 40);
  
  
  }
  a:link {
  text-decoration: none;
  }
  .bell {
  width:auto;
  height: 95px;
  
  float: right;
  padding: 0;
  margin: 0;
  
  }

  .profile {
  width: auto;
  height: 95px;
  /* border: 1px solid black; */

  float: right;
  }
/* menu */

.content-1{
  height: 110px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  float: left;
  margin-left: 30px;
  width: calc(30.7%);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(88, 81, 81);margin-top: 10px;
  
}
.content-4{
  height: 520px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  float: right;
  margin-top: 20px;
  margin-right: 40px;
  width: calc(26%);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(88, 81, 81);
}
.content-5{
  height: 520px;
  
  background-color: rgb(255, 255, 255);
  margin: auto;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  width: calc(68%);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(88, 81, 81);
  
}
