
  .divcontent3{
    background-color: rgb(255, 255, 255);
    width: 1920px;
    height: 1080px;
 
    margin-top: 20px;
    z-index: 0;
  }
  @media only screen and (min-width: 1440px){
    .divcontent3{
        width: 100%;
        height: 570px;
        margin: auto;
        padding: 0;
   
        
    }
    }
      @media only screen and (max-width: 1280px){
    .divcontent3{
        width: 100%;
        height: 1000px;
        margin: auto;
        padding: 0;
     
        
    }
}
.content {
     
      
  height: 680px;
  width: calc(100%);
  z-index: 20;
  position:none;

  padding: 0;

  margin-top: -980px;
}
.content-left{
  width: 49%;
  height: 890px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  float: left;
}
.content-right{
  width: 49%;
  height: 890px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  float: right;
}
.content-right-in{
  width: 95%;
  height: 890px;
  /* background-color: white; */
  z-index: 0;
  margin: auto;
}
.color-text-all{
  color: rgb(177, 40, 40);
}