@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("image/Restaurant2.jpg") no-repeat center center/cover;
      font-family: "Inter", sans-serif;
    }

    /* Box Login នៅកណ្ដាល */
    .login-box {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      padding: 40px 50px;
      text-align: center;
      width: 350px;
      color: white;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    }

    /* រូបLogo */
    .login-box img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .login-box h2 {
      margin: 10px 0 25px;
      font-weight: 600;
    }

    /* input box */
    .login-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: none;
      border-radius: 25px;
      outline: none;
      background: rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 14px;
      text-align: left;
    }

    .login-box input::placeholder {
      color: #f1f1f1;
    }

    /* forgot password link */
    .login-box a {
      color: #c9dfff;
      text-decoration: none;
      font-size: 13px;
      display: block;
      margin: 8px 0 18px;
    }

    .login-box a:hover {
      text-decoration: underline;
    }

    /* Login button */
    .login-box button {
      width: 100%;
      height: 45px;
      padding: 10px;
      border: none;
      border-radius: 25px;
      background: linear-gradient(to right, #a70000, #d50000);
      color: white;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .login-box button:hover {
      background: linear-gradient(to right, #d00000, #ff3030);
    }